doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Vacations
    
    
  
  body
    main
      header
        .container
          .menu-bar
            a(href="")
              img(src="img/logo.jpg", alt="")
            nav.main-menu-container
              ul.main-menu
                li
                  a(href="") Inicio
                li
                  a(href="") Qué ofrecemmos
                li
                  a(href="") Galería
                li
                  a(href="") Testimonios
                li
                  a(href="") Contacto     

      div
        section.page-section.portada
          .container
            .portada-inner
              h1 Vacations Agency
              p Lorem ipsum dolor sit amet consectetur.
              a(href="") Conóce más

        section.servicios.page-section
          .container
            .section-tittle-container 
              h2.section-title Nuestros Servicios
              p Lorem ipsum dolor sit amet.

            .blurbs-container   
              .blurb
                .icon-container
                  i.fa.fa-users
                .blurb-text-container
                  h3 Planes
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dignissimos earum ducimus nam, enim architecto?  

              .blurb
                .icon-container
                  i.fa.fa-users
                .blurb-text-container
                  h3 Viajes
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dignissimos earum ducimus nam, enim architecto?  

              .blurb
                .icon-container
                  i.fa.fa-users
                .blurb-text-container
                  h3 Hoteles
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dignissimos earum ducimus nam, enim architecto?             

                 



                      

              